# Boolean to signal that the environment is Production (DEFAULTS TO FALSE)
IS_PROD=
# Name of server running the endpoint
HOST=
# Number of Trusted Proxies
PROXIES_COUNT=
# MySQL Server Host Address
DB_HOST=localhost
# MySQL Server Port
DB_PORT=3306
# MySQL Database Name
DB_NAME=intranet
# MySQL Username
DB_USERNAME=root
# MySQL User Password
DB_PASSWORD=password
