/* Add an SVG over the gradient background */
#home-logo {
  width: 90vh;
  vertical-align: center;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
