/* Set a background image for the body element */
body {
  background-image: url("/static/images/splash.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
