.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0px;
  height: 80px;
  line-height: 80px;
}

.navbar-brand > img {
  height: 100%;
  padding: 10px;
  width: auto;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
    font-size: large;
  }
}

.body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    119deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(160, 126, 186, 1) 18%,
    rgba(119, 59, 150, 1) 69%,
    rgba(83, 28, 111, 1) 100%
  );
  min-height: 100vh;
}

.center {
  text-align: center;
}

.table-custom {
  --bs-table-bg: transparent !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.dark-bg-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.table-custom th,
.table-custom td {
  color: white !important;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #fc0400;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #fc0400;

  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
