---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
interface Props {
  activeVal?: string;
}
const { activeVal = "home" } = Astro.props;
---

<header
  id="navbar"
  class="mx-auto container lg:flex justify-between p-5 gap-5"
  data-activeVal={activeVal}
>
  <Astronav closeOnClick>
    <div class="flex w-full lg:w-auto justify-between">
      <a href="https://burmanhospitality.com/"
        ><img alt="Burman Hospitality" height="30px" src="/static/logo.svg" /></a
      >
      <div class="block lg:hidden">
        <MenuIcon class="wx-auto hx-auto text-white lg:flex" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5 items-center">
        <li>
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/locations">Location Master</a>
        </li>
        <li>
          <a class="nav-link" href="/connectivity">Connectivity Status</a>
        </li>
        <li>
          <a class="nav-link" href="/sales">Sales Dashboard</a>
        </li>
        <li>
          <a class="nav-link" href="/vendors">Vendor Management</a>
        </li>
        <li>
          <a type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900" href="/api/logout">Logout</a>
          <!-- <a class="nav-link" href="/api/logout">Logout</a> -->
        </li>
      </ul>
    </MenuItems>
    <div></div>

    <script>
      var active_val = document.getElementById("navbar").dataset.activeval;
      var navLinks = document.querySelectorAll(".nav-link");
      // Add active class to the current link (highlight it)
      for (var i = 0; i < navLinks.length; i++) {
        navLinks[i].innerHTML.toLowerCase() === active_val.toLowerCase()
          ? navLinks[i].classList.add("active")
          : null;
      }
    </script>

    <style>
      html,
      body {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .header {
        flex-direction: row;
        width: 100%;
        background-color: #212529;
        margin: 0;
      }
      li {
        color: grey;
        font-size: medium;
        padding: 10px;
      }
      .active {
        color: white;
        font-weight: bold;
      }
    </style></Astronav
  >
</header>
