<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE="
      crossorigin="anonymous"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"
      integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/static/js/connectivity.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/connectivity.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://burmanhospitality.com/">
            <img
              src="/static/images/bh.svg"
              alt="Burman Hospitality"
              height="30px"
            />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/locations">Location Master</a></li>
            <li><a href="/connectivity">Connectivity Status</a></li>
            <li><a href="/sales">Sales Dashboard</a></li>
            <li><a href="/vendors">Vendor Management</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="api/logout">
                <span class="glyphicon glyphicon-log-in"> </span> Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="body">
      <h1 class="center">Connectivity Status</h1>
      <div class="row">
        <div class="col-xs-12 col-md-4 center">
          <p id="last-run"></p>
          <button type="button" class="btn btn-primary" id="recheck-btn">
            Re-Check all Sites
          </button>
          <br />
          <p id="checkMsg">Checking Site Status</p>
          <div id="offline-list"></div>
        </div>
        <div class="col-xs-12 col-md-8">
          <canvas id="connectivityChart"></canvas>
        </div>
      </div>
    </div>
  </body>
</html>
