<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      crossorigin="anonymous"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE="
      rel="stylesheet"
    />
    <script
      crossorigin="anonymous"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4="
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/create_annoucement.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.css"
      rel="stylesheet"
    />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link href="/static/css/create_form.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            class="navbar-toggle"
            data-target="#myNavbar"
            data-toggle="collapse"
            type="button"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://burmanhospitality.com/">
            <img
              alt="Burman Hospitality"
              height="30px"
              src="/static/images/bh.svg"
            />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/locations">Location Master</a></li>
            <li><a href="/connectivity">Connectivity Status</a></li>
            <li><a href="/sales">Sales Dashboard</a></li>
            <li><a href="/vendors">Vendor Management</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="api/logout">
                <span class="glyphicon glyphicon-log-in"> </span> Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="body">
      <div class="container">
        <form action="/api/announcements" method="post">
          <div class="form-group">
            <label for="title">Announcement Title</label>
            <input id="title" name="title" type="text" />
          </div>
          <div class="form-group">
            <label for="date_from">Start Date (YYYY-MM-DD)</label>
            <input
              class="form-control"
              id="date_from"
              name="date_from"
              placeholder="YYYY-MM-DD"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="date_to">End Date (YYYY-MM-DD)</label>
            <input
              class="form-control"
              id="date_to"
              name="date_to"
              placeholder="YYYY-MM-DD"
              type="text"
            />
          </div>
          <div class="form-group">
            <label>Body</label>
            <div id="quillEditor"></div>
          </div>
          <label for="files">Select files:</label>
          <input id="files" multiple name="files" type="file" /><br /><br />
          <button type="submit">Submit Form</button>
          <button id="resetForm" type="button">Reset to Initial Data</button>
        </form>
      </div>
    </div>
  </body>
</html>
