<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
  </head>
  <body>
    <div class="topnav">
      <ul class="nav">
        <li><a href="home">Home</a></li>
        <li><a href="annoucements">News / Annoucements</a></li>
        <li><a href="connectivity">Connectivity Status</a></li>
        <li><a href="sales">Sales Dashboard</a></li>
        <li><a href="vendor">Vendor Management</a></li>
        <li style="float: right"><a href="user">User</a></li>
      </ul>
    </div>
    <div class="body">
      <p>Hello, world!</p>
    </div>
  </body>
</html>
